# .gitattributes 0.0.2             UTF-8                        dh:2021-02-14
#
#                GIT ATTRIBUTES FOR THE docEng GIT REPOSITORY

# Set the default behavior in case people don't have core.autocrlf set.
# This will automatically convert between line-ending style of the client
# and whatever line-ending style that is found in the repository.  (On the
# client, always use a Git package that is compiled for the native OS.)

* text=auto
# This declares files to be text by default and to be line-ending alterable.
# Be careful.  See the group below.

# Denote all files that are truly binary and must not be scanned for line-end.
# Some of these might also be .gitignored.  Better safe than sorry.

*.bmp binary
*.gif binary
*.jpg binary
*.jpeg binary
*.png binary
*.suo binary
*.zip binary

*.odt binary
*.ott binary
*.ods binary
*.ots binary
*.odp binary
*.otp binary
*.odg binary
*.otg binary
*.odm binary
*.odb binary

# 0.0.2 2021-02-14T00:59Z Customize for docEng, with some known-binary files
#       likely to appear in this repository
# 0.0.1 2016-10-04-11:23 Create Minimal .gitattributes (Miser Project)
#       The 2015-01-07 version from ShowDefs is captured just to have one
#       in place.
#                          *** end of .gitattributes ***
