# .gitattributes 0.0.5             UTF-8                           2025-10-18
#
#             GIT ATTRIBUTES FOR THE nfoTools GIT REPOSITORY

# Set the default behavior in case people don't have core.autocrlf set.
# This will automatically convert between line-ending style of the client
# and whatever line-ending style that is found in the repository.  (On the
# client, always use a Git package that is compiled for the native OS.)

* text=auto
# This declares files to be text by default and to be line-ending alterable.
# Be careful.  See the group below.

# Denote all files that are truly binary and must not be scanned for line-end.
# Some of these might also be .gitignored.  Better safe than sorry.

*.txt text

*.bin binary
*.dat binary
*.ata binary
*.bak binary

*.obj binary
*.exe binary
*.dll binary
*.lib binary

*.docx binary
*.xlsx binary
*.pptx binary

*.bmp binary
*.gif binary
*.jpg binary
*.jpeg binary
*.png binary
*.suo binary
*.zip binary
*.tgz binary
*.pdf binary
*.doc binary
*.ata binary

*.vsd binary
*.vsdx binary
*.vsdm binary
*.vdx binary

*.odt binary
*.ott binary
*.ods binary
*.ots binary
*.odp binary
*.otp binary
*.odg binary
*.otg binary
*.odm binary
*.odb binary

# 0.0.5 2025-10-18T19:01Z Make .txt explicitly text
# 0.0.4 2025-10-17T23:40Z Add MS Office, diehard, and compiler binary files
# 0.0.3 2023-06-07T23:32Z Add some binary files of drawing tools
# 0.0.2 2021-02-14T00:59Z Customize for docEng, with some known-binary files
#       likely to appear in this repository
# 0.0.1 2016-10-04-11:23 Create Minimal .gitattributes (Miser Project)
#       The 2015-01-07 version from ShowDefs is captured just to have one
#       in place.
#                          *** end of .gitattributes ***
